# Ignore Python bytecode and caches
__pycache__/
*.py[cod]
*$py.class

# Ignore virtual environments
env/
venv/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore VS Code settings
.vscode/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore logs
*.log

# Ignore temporary files
*.tmp
*.bak

# Ignore Python package metadata
*.egg-info/
dist/
build/

# Ignore secrets / config (if you have any)
*.env
#Ignore transactions.db
transactions.db
